.container {
    width: calc(100vw-10rem);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 1rem;
    margin: 1rem;
    margin-top: 3rem;
    padding-right: 0.5rem;
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

.container > * {
    padding-left: 0.5rem;
}

.container > * {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.container .image {
    scroll-snap-align: start;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0.5rem 0 0.5rem;
}

.container .image img {
    border-radius: 1rem;
    width: 70vw; 
    object-fit: cover;
}